<div class="comment-item">

    <div class="comment-header">
      <div class="comment-user">
        <a href="{% url 'accounts:user_profile' username=comment.user.slug %}">
          @{{comment.user.username}}
        </a>
      </div>
    </div>

    <div class='comment-content'>
      {{comment.message|linebreaks}}
    </div>

    <hr style='padding:0; margin:0; margin-top:1px'>

    <div class="comment-footer">

      <time class="comment-time">
          ({{comment.create_date}})
      </time>

      <span class="text-success" style='font-size: 1.2em'>+</span>
      <span class="text-danger" style='font-size: 1.2em'>-</span>

      {% if user.is_authenticated and comment.user == user %}
        {% if not hide_delete %}
          <a href="{% url 'comments:delete' pk=comment.pk %}" title="delete" class="btn btn-simple">
            <span class="text-danger icon-label">Delete</span>
          </a>
        {% endif %}
      {% endif %}

    </div>

</div>
