<div class="comment-item">

    <div class="comment-header">
      <div class="comment-user">
        <a href="{% url 'accounts:user_profile' username=comment.user.slug %}">
          @{{comment.user.username}}
        </a>
      </div>
    </div>

    <div class='comment-content'>
      {{comment.message|linebreaks}}
    </div>

    <hr style='padding:0; margin:0; margin-top:1px'>

    <div class="comment-footer">

      <time class="comment-time">
          ({{comment.create_date}})
      </time>

      {% if not user in comment.raters.all and not user.username == comment.user.username %}
        <span>&nbsp;</span>
        <a class="text-success rate-plus" href="{% url 'comments:rate' pk=comment.pk rating='+' %}">+</a>
        <span>&nbsp;</span>
        <a class="text-danger rate-minus" href="{% url 'comments:rate' pk=comment.pk rating='-' %}">-</a>
      {% endif %}

      <span>&nbsp;</span>
      {% if comment.score > 0 %}
        <span class="post-score">Score: <span class="text-success">+{{comment.score|floatformat:1}}</span></span>
      {% elif comment.score < 0 %}
        <span class="post-score">Score: <span class="text-danger">{{comment.score|floatformat:1}}</span></span>
      {% else %}
        <span class="post-score"> Score: <span class="text-secondary"> {{comment.score|floatformat:0}}</span></span>
      {% endif %}


      {% if user.is_authenticated and comment.user == user %}
        {% if not hide_delete %}
          <a href="{% url 'comments:delete' pk=comment.pk %}" title="delete" class="btn btn-simple">
            <span class="text-danger icon-label">Delete</span>
          </a>
        {% endif %}
      {% endif %}

    </div>

</div>
