{% extends "communities/communities_base.html" %}

<div class="row">
{% block community_prefix %}


  <div class="col-md-4">


    <h1>{{community.name}}</h1>


    <div class="jumbotron jumbotron-sky" id='community-info'>
      {{community.description_html|safe}}
    </div>


      <span class="badge">{{community.posts.count}}</span>
      post{{community.posts.count|pluralize}}

    <hr>

      {% if user.is_authenticated %}
        <div class="btn-sky">
          <a href="{% url 'posts:create' %}">
            New Post
          </a>
        </div>
        {% else %}
        <a href="{% url 'accounts:login' %}"
           class="btn btn-simple btn-default">
            Login
        </a>
        to post

      {% endif %}

  </div>
{% endblock %}



{% block community_content %}

{# <div class="row">#}


<div class="col-md-8" style='margin-top: 15px'>
  {% if community.posts.count == 0 %}
  <div class=''>
    <h2>No posts within this community yet!</h2>
  </div>

  {% else %}

    {% for post in community.posts.all  %}
    <div>
      {# 'extends' a.k.a injects this html#}
      {% include "posts/_post.html" %}
    </div>
    {% endfor %}

  {% endif %}
</div>
{% endblock %}
</div>
