{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<div class="col-md-8">
  <p>{% trans "Forgotten your password?"%}</p>
  <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>
  <hr>
  <form method="post">{% csrf_token %}
  {# <fieldset>#}
      <div class="jumbotron jumbotron-home">
          {{ form.email.errors }}
          <label for="id_email">{% trans 'Email address:' %}</label>
          {{ form.email }}
          <br>
          <span class="btn-sky" id='btn-password-reset'><input type="submit" value="{% trans 'Reset my password' %}"/></span>
      </div>

  {# </fieldset>#}
  </form>
</div>


{% endblock %}
