{% extends "base.html" %}

{% block javascript %}


{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-md-4">

      <form class="form-inline my-2 my-xs-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style='width:auto'>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          <i class="fa fa-search fa-3" aria-hidden="true"></i>
        </button>
      </form>

      {% if user.is_authenticated %}
        <div class="btn-sky">
          <a href="{% url 'posts:create' %}">
            New Post
          </a>
        </div>
      {% else %}
        <a href="{% url 'accounts:login' %}"
           class="btn btn-outline-dark btn-sm">
            Login
        </a>
        to post
      {% endif %}

      <hr>

    </div>

    <div class="col-md-8">

      {% include "posts/_nav.html" %}

      {% include "posts/_prev_next.html" %}

      {% for post in posts %}
        <div class="infinite-item">
          {% include "posts/_post.html" %}
        </div>
      {% endfor %}

      {% include "posts/_prev_next.html" %}


    </div>
  </div>

{% endblock %}
