<div class="shadebox post-item">

    <div class="post-header">
      <div class="post-user">
        <a href="{% url 'accounts:user_profile' username=post.user.slug %}">
          @{{post.user.username}}
        </a>
      </div>
    </div>

    <div class='post-content'>
      {{post.message_html|safe}}
    </div>

    <hr style='padding:0; margin:0; margin-top:1px'>

    <div class="post-footer">

      <time class="post-time">
        <a href="{% url 'posts:single' pk=post.pk %}">
          ({{post.create_date}})
        </a>
      </time>

      <span class="badge">{{post.comments.count}}</span>
      <a href="{% url 'posts:single' pk=post.pk %}">comment{{post.comments.count|pluralize}}</a>

      <span class="text-success" style='font-size: 1.2em'>+</span>
      <span class="text-danger" style='font-size: 1.2em'>-</span>

      {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="deletes" class="btn btn-simple">
          <span class="text-danger icon-label">Delete</span>
        </a>
      {% endif %}
    </div>

</div>
