<div class="shadebox post-item">

    <div class="post-header">
      <div class="post-user">
        <a href="{% url 'accounts:user_profile' username=post.user.slug %}">
          @{{post.user.username}}
        </a>
      </div>
    </div>

    <div class='post-content'>
      {{post.message_html|safe}}
    </div>

    <hr style='padding:0; margin:0; margin-top:1px'>

    <div class="post-footer">


      <span class="badge">{{post.comments.count}}</span>
      <a class='post-comments-link' href="{% url 'posts:single' pk=post.pk %}">comment{{post.comments.count|pluralize}}</a>

      {% if not user in post.raters.all and not user.username == post.user.username %}
        <span>&nbsp;</span>
        <a class="text-success rate-plus" href="{% url 'posts:rate' pk=post.pk rating='+' %}">+</a>
        <span>&nbsp;</span>
        <a class="text-danger rate-minus" href="{% url 'posts:rate' pk=post.pk rating='-' %}">-</a>
      {% endif %}

      <span>&nbsp;</span>
      {% if post.score > 0 %}
        <span class="post-score">Score: <span class="text-success">+{{post.score|floatformat:1}}</span></span>
      {% elif post.score < 0 %}
        <span class="post-score">Score: <span class="text-danger">{{post.score|floatformat:1}}</span></span>
      {% else %}
        <span class="post-score"> Score: <span class="text-secondary"> {{post.score|floatformat:0}}</span></span>
      {% endif %}


      {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'posts:delete' pk=post.pk %}" title="deletes" class="btn btn-simple">
          <span class="text-danger icon-label">Delete</span>
        </a>
      {% endif %}

      <time class="post-time">
        <a href="{% url 'posts:single' pk=post.pk %}">
          ({{post.create_date}})
        </a>
      </time>

    </div>

</div>
